exportPattern("^[[:alpha:]]+")

## Imports

## readxl
importFrom(readxl, read_excel, excel_sheets)

## openxlsx
importFrom(openxlsx, write.xlsx, addWorksheet, writeDataTable)

## stringr
importFrom(stringr, str_trim)

## shiny
importFrom(shiny, runApp)

importFrom(shinydashboard, dashboardPage)

importFrom(shinyjs, enable, disable)


## stats
importFrom("stats", "aggregate", "na.omit", "weighted.mean", "pnorm")

## mgcv
importFrom("mgcv", "Predict.matrix")

## S3 methods
S3method(print, DARLEQ_DATA)

