exportPattern("^[[:alpha:]]+")

## Imports

## readxl
importFrom(readxl, read_excel)

## openxlsx
importFrom(openxlsx, write.xlsx)

## stringr
importFrom(stringr, str_trim)

## S3 methods

S3method(print, DARLEQ_DATA)
